* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(128, 128, 128, 0.61);
}

.menu {
    background: black;
    width: 65%;
    margin: 10px auto;
}

.menu-lista {
    display: flex;
    list-style-type: none;
    margin-right: 1px;
    justify-content: right;
}

body nav ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px rgb(85, 80, 80);
    font-size: 26px;
    padding: 25px;
    display: block;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: all 300ms ease-in-out;
}

.menu .menu-lista li a:hover {
    background: rgb(131, 129, 129);
}

.grid{
    width: 66%;
    margin: auto;
    display: block;
}

.grid::after{
    content: "";
    display: block;
    clear: both;
}

.grid .col {
    box-sizing: border-box;
    display: block;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 0.8%;
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background: red;
}

.section-transition {
    display: block;
    background: turquoise;
    width: 100%;
    height: 250px;
    margin-top: 35px;
}

section p{
    width: 65%;
    margin: 10px auto;
    padding-top: 30px;
    font-size: 38px;
}